hr.divider-vertical {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    background-image: linear-gradient(
      180deg,
      transparent,
      hsl(0, 0%, 40%),
      transparent
    );
    background-color: transparent;
    height: 100%;
  }